# Ignore Rider specific files
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/shelf/
.idea/**/modules.xml

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Mono Auto Generated
mono_crash.*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio Code files
.vscode/
.history/

# Rider directories
.idea/
.idea_modules/
.idea/workspace.xml
.idea/gradle.xml
.idea/libraries/
.idea/tasks.xml
.idea/dictionaries/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Web-specific
clientapp/node_modules/
clientapp/build/
clientapp/dist/

# macOS files
.DS_Store

# Windows image file caches
Thumbs.db
ehthumbs.db

# Windows Folder config
Desktop.ini

# Recycle Bin
$RECYCLE.BIN/

# Files built by MSBuild
*.dll
*.exe
*.app
*.so
*.dylib
*.log
*.sqlproj
*.sqlproj.user
*.pdb
*.cache
*.msbuild*
*.diff

# NuGet
*.nupkg
*.snupkg
.nuget/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# IIS
iisexpress/
.vs/

# Logs
*.log
